body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
}

.info {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}

button {
  width: 70%;
  max-width: 300px;
  height: 100px;
  font-size: 28px;
  background-color: #ff9800;
  border: none;
  border-radius: 15px;
  color: black;
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  background-color: gray;
}
